{
    "useTabs": false,
    "printWidth": 80,
    "singleQuote": true,
    "trailingComma": "none",
    "jsxBracketSameLine": true,
    "bracketSpacing": true,
    "parser": "babylon",
    "noSemi": false
}
